[webservers]
%{ for host in web ~}
${host.name} ansible_host=${host.ip_address} fqdn=${host.fqdn}
%{ endfor ~}

[databases]
%{ for host in db ~}
${host.name} ansible_host=${host.ip_address} fqdn=${host.fqdn}
%{ endfor ~}

[storage]
%{ for host in storage ~}
${host.name} ansible_host=${host.ip_address} fqdn=${host.fqdn}
%{ endfor ~}